body{
    margin: 0;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(67, 67, 67));
    padding-top: 60px;
    display: flex;
    flex-shrink: 0;

}
p, a{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: white;
}

/* Left-side */

.left-side{
    margin-left: 30px;
    margin-right: 30px;
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
}

/* right-side */

.right-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-right: 30px;
    flex-shrink: 1;
    height: 100%;
}

.nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nav-box:active{
    background-color: gray;
}

.header-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}


/* main-page */

.main-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 130px;
    margin-bottom: 250px;
    
}

/* main-left */

.main-left-box{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.main-page-name{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main-page-info{
    margin-bottom: 20px;
    
}

.left-page-info{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 100px;
}
.cv{
    height: 35px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 15px;
    background-color: rgb(96, 94, 94);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: border-color 0.15s, color 0.15s;
}
.cv:hover{
    border-color: #a1a2a6;
    color: #a1a2a6;
}


/* main-right */

.main-right-box{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.my-picture{
    height: 340px;
    width: 340px;
    object-fit: cover;
    object-position: top;
    border-radius: 200px;
    box-shadow: -14px 0px 20px rgb(67, 67, 67);
}

@media(max-width: 666px){
    .main-page{
        grid-template-columns:1fr;
    }
}

/* About me-page */

.about-page{
    display: grid;
    height: 400px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(67, 67, 67));
}

.my-name{
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 500;
}

/* Contact-page */

.contact-page{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: #000000;
}

.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 50px;
    color: white;
    height: 300px;
}

.contact-title{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}

.contact-description{
    margin-bottom: 20px;
}

.my-email{
    color: white;
    margin-right: 15px;
}

.my-number{
    margin-left: 15px;
}

.contact{
    display: flex;
    margin-bottom: 20px;
}
.icons{
    display: grid;
    grid-template-columns: 41px 37px 37px;
    align-items: center;
    width: 140px;
    height: 40px;
}

.media-icon{
    font-size: 30px;
    margin-right: 5px;
    transition: font-size 0.15s;
    cursor: pointer;
}
.media-icon:hover{
    font-size: 34px;
}

.media-icon:active{
    color: #a1a2a6;
}

.message-boxs{
    margin-top: 10px;
    max-width: 365px;
    width: 100%;
    background-color: lightgray;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
}

.send-button{
    width:80px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: lightblue;
    border-style: none;
    border-radius: 5px;
}


@media(max-width: 666px){
    .contact-page{
        grid-template-columns:1fr;
    }
}
